<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.mapper.MallMapper">
     <select id="queryshops" resultType="shops">
       select * from shops
     </select>

    <select id="queryshopbyid" resultType="shops" parameterType="int">
        select  * from shops where sid=#{sid}
    </select>

    <insert id="adduser" parameterType="user">
        insert into user (uname,uage,password)values (#{uname},#{uage},#{password})
    </insert>

    <select id="loginuser" parameterType="Map" resultType="user">
        select * from user where uname=#{uname} and password=#{password}
    </select>

    <select id="addcart" parameterType="cart">
        insert into cart(sid,uid,sname,scount,TotalPrice,simg) values (#{sid},#{uid},#{sname},#{scount},#{totalprice},#{simg})
    </select>

    <select id="querycartbyid" parameterType="int" resultType="cart">
        select * from cart where uid=#{uid}
    </select>

    <delete id="delcartbyid" parameterType="int">
        delete  from  cart where cid=#{cid}
    </delete>

    <select id="queryclothes" resultType="clothes">
       select  * from  clothes
    </select>

    <select id="querypants" resultType="pants">
        select * from pants
    </select>

    <select id="queryshoe" resultType="shoe">
        select * from shoe
    </select>

    <select id="querylbt" resultType="lbt">
          select * from lbt
    </select>
</mapper>